@font-face {
  font-family: 'ModernDOS-1';
  src: url('Font-Code/ModernDOS8x8.ttf');
}

@font-face {
  font-family: 'ModernDOS-2';
  src: url('Font-Code/ModernDOS9x16.ttf');
}


body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  color: rgb(3, 255, 3);
  font-family: 'ModernDOS-2';
}

.main_container{
  
  display:grid;
  grid-template-columns: 2fr 1fr;




}


.main_text {
  border: 2px solid rgb(3, 255, 3);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow-y: scroll;
  height: 600px;
  margin-top: 30px;
  margin-left: 25px;
  background-color: #000000;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

 
}

.section_container{
  display: grid;
  grid-auto-columns: 1fr;
  place-items: center; 
  border: 2px solid rgb(3, 255, 3);
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 20px;

}

.line {
  overflow: visible;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 500px;
}

.button-container {
  display: grid; 
  justify-content: center; 
  gap: 10px;
  margin-top: 20px;
  grid-auto-flow: column; 
}

button {
  font-family: 'ModernDOS-2';
  width: 60px;
  height: 60px;
  background-color: black;
  border: 2px solid green;
  color: green;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.button, #resetButton {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  width: 90px;
  height: 90px;
  background-color: black;
  border: 2px solid green;
  border-radius: 90px;
  color: green;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
}


.section{
  padding: 10px;
  border: 1px solid green;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 10%;
  width: 50%;
  background-color: black;
  color: rgb(3, 255, 3);
  font-family: 'ModernDOS-2';
  text-align: center; 
  
}

#end{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-top: 10px;
  width: 90px;
  height: 90px;
  background-color: black;
  border: 2px solid green;
  border-radius: 90px;
  color: green;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;



}