@font-face {
  font-family: 'ModernDOS-1';
  src: url('Font-Code/ModernDOS8x8.ttf');
}

@font-face {
  font-family: 'ModernDOS-2';
  src: url('Font-Code/ModernDOS9x16.ttf');
}

body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  color: rgb(3, 255, 3);
  font-family: 'ModernDOS-2', monospace;
}

.main_text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.line {
  overflow: hidden;
  white-space: wrap;
  border-right: 3px solid green; /* Cursor */
  width: 0;
  /* Adjust the typing animation duration if needed */
  animation: typing 5s steps(30) forwards, blinkCursor 0.75s step-end infinite alternate;
}

/* Adjust the animation-delay for each line */
.main_text .line:nth-child(1) {
  animation-delay: 0s, 5s; /* blinkCursor starts after typing ends */
}

.main_text .line:nth-child(2) {
  animation-delay: 5s, 10s; /* Delay adjusted for sequential appearance */
}

.main_text .line:nth-child(3) {
  animation-delay: 10s, 15s; /* Delay adjusted for sequential appearance */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  from { border-color: transparent; }
  to { border-color: rgb(0, 255, 0); }
}