body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  color: rgb(3, 255, 3);
  font-family: 'ModernDOS-2', monospace; 
}

.main_text {
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden;
  border-right: 3px solid green; 
  animation: typing 5s steps(30), blinkCursor 0.5s step-end infinite alternate;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; } 
}

@keyframes blinkCursor {
  from { border-color: transparent; }
  to { border-color: rgb(0, 255, 0); }
}

@font-face {
  font-family: ModernDOS-1 ;
  src: url(Font-Code/ModernDOS8x8.ttf);

  font-family: ModernDOS-2 ;
  src: url(Font-Code/ModernDOS9x16.ttf);


}